.wrapper {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: grid;
    background-color: rgba(87, 84, 84, 1);
    grid-template-columns: 1fr 2fr 1fr;
}

.header {
    grid-column: 1/4;
    margin: 10px
}

.main {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.left-sidebar {
    margin: 10px;
}

.right-sidebar {
    margin: 10px;
}